.borderBottom{
    border-bottom: 1px solid rgba(255, 255, 255, 0.637);
}
.section_4 .wrapper{
    justify-content:space-between;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
}
.container-for-row{
    margin: 0 auto;
    max-width: 80%;
}
@media (max-width:766px) {
    .container-for-row{
        max-width: 100%;
    }
}